
/* Colores:
fondo: #E5ECE1 violeta de botones: #877794 verde oscuro: #B9CEAB Violeta letras:#726081*/

body {
    background: #2e2e2e;
    font-family: 'midia' ,'raleway', 'roboto';
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin: 0;
    padding: 55px 0px 0px 0px;
}

#navbar {
    position: fixed;
    top: 3px;
    width: 100%;
    background-color: rgb(15, 15, 15);
}

.logo {
    height: 30px;
    padding: 0; 
    margin: 0;
}

.barra-navegacion {
  flex-direction: row-reverse;
}

h1 {
    text-align: center;
    padding: 15px 10px 10px 10px;
    margin-bottom: 0px;
    font-size: 20px;
}

section {
    text-align: justify;
    padding:1vh 3vw 1vh 3vw;
    margin: 1vh 4vw 1vh 4vw;
    background-color: rgb(22, 22, 22);
}

section p {
    font-size: 15px;
    font-weight: 100;
    padding:0;
    margin: 0;
    text-indent: 0.6rem;
    letter-spacing: 1.5px;
    line-height: 20px;
}

section h4 {
    font-weight: bolder;
    font-size: 17px;
}

